.container {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 70%;
  margin-left: 180px;
}

.textContainer {
  text-align: left;
}

.chatContainer {
  width: 100%;
}

.userMessageContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.aiMessageContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.messageContainer {
  display: flex;
  align-items: flex-start;
}

.messageContent {
  display: flex;
  align-items: flex-start;
}

.messageText {
  display: flex;
  flex-direction: column;
}

.userMessage {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 35px;
}

.aiMessage {
  background-color: #d3e0ff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

.senderName {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.homeIcon {
  margin-top: 20px;
  margin-bottom: 40px;
}

.textContainer::-webkit-scrollbar {
  width: 0px;
}

.textContainer::-webkit-scrollbar-thumb {
  display: none;
}

.botName {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  margin-left: 300px;
  margin-top: 10px;
  color: var(--secondary-bg);
  font-size: 30px;
  font-weight: bold;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.questionContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.question {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  color: black;
}
